body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: white;
    min-height: 660px !important;
    position: relative;
    overflow-x:scroll;
}

.logujSeOkolina {
    text-align: center;
    color: white;
    width: 100%;
}

.loguj {
    text-decoration: none;
    color: black;
    font-family: 'Bell MT';
    font-weight: bold;
    font-size: 2.5em;
    width: 100%;
}

.logujSe:hover {
    color: black;
    opacity: 0.3;
}

.logujSe {
    background-color: white;
    border: none;
    width: 40%;
    height: 80%;
    color: black;
    border-radius: 12%;
    padding: 7px 20px;
    text-align: center;
    box-shadow: 0px 3px 3px #ffffff;
    -webkit-transform: rotateX(20deg);
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    cursor: pointer;
}

h1 {
    color: white;
    font-family: 'Bell MT';
    font-size: 45px;
    text-align: center;
    text-shadow: 2px 2px black;
    font-style: italic;
    font-weight: 200;
}

h2 {
    color: black;
    text-align: center;
    font-size: 40px;
}

.navbar-collapse {
    background-color: transparent;
}

.headerSlovo {
    font-size: 1.0em;
    font-weight: bold;
    color: black;
    background-color: white;
    box-sizing: border-box;
    overflow: hidden;
}

@media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
    }

        .navbar-nav .open .dropdown-menu > li > a,
        .navbar-nav .open .dropdown-menu > li > img,
        .navbar-nav .open .dropdown-menu .dropdown-header {
            padding: 5px 15px 5px 25px;
        }

        .navbar-nav .open .dropdown-menu > li > a {
            line-height: 20px;
        }

            .navbar-nav .open .dropdown-menu > li > a:hover,
            .navbar-nav .open .dropdown-menu > li > a:focus {
                background-image: none;
            }
}

.nav > li > a > img {
    max-width: none;
    display: inline;
}

@media (min-width: 768px) {
    .navbar-nav {
        float: left;
        margin: 0;
    }

        .navbar-nav > li, .navbar-nav > li > img {
            float: left;
        }

            .navbar-nav > li > a, .navbar-nav > li > img {
                padding-top: 15px;
                padding-bottom: 15px;
            }
}

#probaSlika {
    max-width: 50%;
    min-width: 40%;
    max-height: 80%;
    background-color: transparent;
    overflow: hidden;
    float: inherit;
}

.logo {
    max-height: 35%;
    max-width: 50%;
    margin-left: 8%;
    background-color: transparent;
    box-sizing: border-box;
    overflow: hidden;
}

.fa fa-user {
}

.avatar {
    width: 15%;
    height: 15%;
    padding-top: 2%;
    text-align: center;
    display: block;
    margin: 0 auto;
}

@media screen and (max-width:767px) {
    .logo {
        width: 80%; /* define a proper width that you think is right */
    }

    .logoPocetna {
        width: 70%;
        height: 70%;
    }

    .signInButton {
        width: 10%;
        height: 5%;
    }
}

.navbar-header {
    color: red;
    background-color: transparent;
}

.navbar-brand {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: 5%;
}

.navbar {
    
    min-height: 20px;
    max-height: 60px;
    margin-bottom: 0px;
    border: 1px solid transparent;
    background-color: white;
    opacity: 0.9;
}

.container {
    background-color: silver;
    max-width: 100%;
    max-height: 100%;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.donjiDioPocetne {
  margin-top:7%;
}

.donjiDioPocetne div {
    min-height: 50%;
    max-height: 100%;
    width: 300px;
    height: 300px;
    padding: 4px;
}

#prvi,#drugi,#treci,#cetvrti {
    background-color: transparent;
    float: left;
    width: 25%;
    height: 100%;
    border-radius: 90%;
}



@media screen and (max-width: 900px) {
    #prvi, #drugi, #treci, #cetvrti {
        float: none;
        margin-right: 0;
        width: auto;
        height: 100%;
    }
}

.nasloviIspod {
    text-align: center;
    font-size: 2em;
    font-family: 'Harlow Solid';
    color: black;
}

.slikePocetna {
    margin: auto;
    display: block;
    height: 120px !important;
    max-height: 200px;
    border: 3px solid black;
}

.pokusaj {
}

.opisSlike {
    font-size: 1.2em;
    color: black;
    font-family: 'Times New Roman';
    text-align: center;
    font-weight: bold;
}

.logoPocetna {
    width: 50%;
    height: 50%;
}

.naslov {
    font-size: 2em;
    color: black;
    float: left;
    text-align: left;
}

#logoSlika {
    height: 5em;
    margin: 3.5em;
}

.signInNaslov {
    text-align: center;
    float: initial;
    font-size: 3em;
    color: white;
    font-weight: bold;
}

#Username, #FirstName, #LastName, #Surname, #ConfirmPassword, #DateOfBirth, #Address, #Telephone, #Email, #Password, .form-group, .text_danger {
    text-align: center;
    margin: auto;
    display: block;
}

#probati {
    width: 100%;
    height: 100%;
    position: relative;
}

.navbar-nav > li {
    position: center;
}

.control-label {
}

.velicinaSlova {
    font-size: 60%;
}

.velicinaSlovaLabela{
    font-size: 70%;
    margin-bottom: 3%;
}

#fileUpload {
    font-size: 50%;
    margin-bottom: 3%;
}
#Password {
    margin-bottom: 3%;
}

.text-danger {
    color: black;
    font-weight: bold;
    font-style: italic;
    font-size: 0.7em;
    overflow: hidden;
    box-sizing: border-box;
}

.form-control {
    font-size: 0.7em;
    margin-bottom: 1%;
}

.form-group {
    color: black;
    font-weight: bold;
    font-style: italic;
    font-size: 1.8em;
    overflow: hidden;
    padding-top: 1%;
    box-sizing: border-box;
}

.signInButton {
    background-color: white;
    border: none;
    width: 20%;
    height: 10%;
    color: black;
    border-radius: 12%;
    text-align: center;
    box-shadow: 0px 3px 3px #ffffff;
    -webkit-transform: rotateX(20deg);
    text-decoration: none;
    font-size: 1.1em;
    text-align: center;
    position: relative;
    cursor: pointer;
    margin-bottom: 3%;
}

a.pokusaj {
    color: #333333
}

    a.pokusaj:active {
        color: #666666
    }

    a.pokusaj:link {
        color: red
    }

    a.pokusaj:visited {
        color: #CCCCCC
    }


.labelRembember {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

.inputRemember {
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

.cekiraj {
    float: left;
}
.fa {
    font-size: 2em;
}

#registerLink:hover, #loginLink:hover {
    color: black;
}
.navbar-inverse .navbar-nav > li > a {
    color: #f5f5f5;
}

.dugme {
    margin: auto;
    display: block;
}

.boja {
    background-color: lightskyblue;
    color: black;
    border-color: lightskyblue;
    font-weight: bold;
}

    .boja:hover {
        background-color: darkseagreen;
        color: black;
        border-color: white;
    }

.bojaPocetna {
    background-color: white;
    color: black;
    border-color: white;
    font-weight: bold;
    font-variant: inherit;
    font-size: 2em;
    letter-spacing: 0.2em;
    font-family: Arial;
}

    .bojaPocetna:hover {
        background-color: lightgrey;
        color: black;
        border-color: lightgray;
    }


.w3-sidebar.w3-collapse {
    display: none
}

.w3-main {
    margin-left: 0 !important;
    margin-right: 0 !important
}
.w3-btn, .w3-button {
color:black;
}
.w3-sidebar {
width:auto;
}

.w3-teal, .w3-hover-teal:hover {
    background-color: transparent !important;
}
