 <!-- Preloader -->

<section>
    <h4 style="margin-top:3%;">This page explaines in short what this application can do!</h4>

    <h2>Application codeApp is amateur page for bringing bussiness and job offers to you!</h2>  
  
    <h2> </h2>
    <h4> Every user is capable to see which<span  style="color:forestgreen;"> job offers</span> are available, see details  about them but they can't apply on them.</h4>
    <h4>After registrating, user is able to communicate with other users with <span style="color:forestgreen;">news/statuses</span> <strong>(click on Local News)</strong></h4>
    <h4>If you are a <span style="color:forestgreen;">follower</span> of some user, you can see his news.</h4>
    <h2> </h2>
      <h4>If user is an <span style="color:forestgreen;">employer</span> he is able to make<span style="color:forestgreen;"> job offers</span> which other users can see.</h4>
   <h4>An employer can add more information about his company too.</h4>
    <h4>If user is <span style="color:forestgreen;">unemployed</span> and is searching for a job, he has few options to promote himself.</h4>
    <h4> Unemployed can add some <span style="color:forestgreen;">personal information, add cv and his profile picture.</span></h4>
    <h4>He can also apply for a job!</h4>
    <h4 style="color:orangered;"><strong>User information, after registrating, are used only to show how this school project works and they are not going to be misused.</strong></h4>
 
    
</section>